:root {
    --main-title-color: #212121;
    --second-title-color: #ffffff;
    --main-text-color: #757575;
    --second-text-color: #ffffff;
    --accent-color: #2196f3;
    --background-color: #2f303a;
    --background-section-color: #ffffff;
    --background-button: #188ce8;
    --color-logo: #000000;
    --background-section-employees: #f5f4fa;
    --icon-main-color: #AFB1B8;
    --time-transition: 250ms;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}